@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*CSS Reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

/*Utility Class*/
.text-primary{
    color: #93cb52;
}

.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn{
    display: inline-block;
    color: #fff;
    background-color: #7ab436;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background: #93cb52;
}

.btn-dark{
    background: #333;
    color: #fff;
}

/*Navbar*/
#navbar{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover{
    background: #93cb52 ;
    border-radius: 5px;
}

/*Showcase*/
#showcase{
    background: #333 url('../assets/3.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    width: 100%;
    top: 65px;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    overflow: hidden; 
}

